.darksquare{
    background-color: #b88b4a;
}
.lightsquare{
    background-color: #e3c16f;
}
.square{
    float: left;
    display: table-cell;
    display: flex;
    justify-content: center;
    align-items: center;
}
.peice{
    width: 90%;
    height: 90%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
    background-color: #312e2b;
}